name: Trigger Build Pipeline

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

jobs:
  call-build:
    uses: worklifesg/ecr-image-build-pipeline-trigger/.github/workflows/build-and-sign.yml@main
    with:
      ecr-namespace: ${{ vars.ECR_IMAGE_REPO }}
      sig-repo: ${{ vars.ECR_SIG_REPO }}
    secrets: inherit
